body {
    margin: 0;
    font-family: 'Architects Daughter', cursive;
    
    font-size: 15px;
    line-height: 1.6;
    color: rgb(255, 255, 255);
}

*, 
*:before
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    
}

.intro:hover {
    box-shadow:
           1px 1px #000000,
           2px 2px #000000,
           3px 3px #000000;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro__title {
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    /* ine-height: 1; */
    font-style: italic;
}

.intro__suptitle {
    font-size: 72px;
    font-family: cursive;
    color: rgb(0, 0, 0);
    text-align: center;
}

.header {
    width: 100%;
    padding-top: 15px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: navy
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    color: white;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav__link:hover {
    color: navy
}

.intro:hover {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99); 
    transition: 1s;
}


/* html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  } */